.cabecalhoPrincipal .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalhoPrincipal-nav{
    display: flex;
}

.rodapePrincipal-patrocinadores .container{
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin-right: 5;
}

.rodapePrincipal-contatoForm-fieldset{
    display: flex;
}

.rodapePrincipal-navMap-list{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap ;
    height: 255px;
}

.conteudoPrincipal-cursos{
    display: flex;
    flex-wrap: wrap;
}

.conteudoPrincipal-cursos-link{
    width: 23%;
    margin-bottom: 1% ;
}

.conteudoPrincipal-cursos-link:nth-child(4n){
    margin-right: 0;
}

.conteudoPrincipal-cursos-link:nth-child(4n+1){
    margin-left: 0;
}

/*parte responsiva-mobile*/
@media screen and (max-width: 778px){
    .cabecalhoPrincipal-nav{
        flex-direction: column;
    }
    .cabecalhoPrincipal .container{
        flex-direction: column;
        align-items: initial;
        text-align: center;
    }
    
    .conteudoPrincipal-cursos-link{
        width: 48%;
        margin-bottom: 20px;
    }
    
    .rodapePrincipal-navMap-list{
        display: initial;
    }
    
    .rodapePrincipal-patrocinadores .container{
        display: initial;
    }
    
    .rodapePrincipal-patrocinadores-list{
    width: initial;
    }
    
    .rodapePrincipal-contatoForm{
        text-align: initial;
    }

    .rodapePrincipal-contatoForm-fieldset{
        margin-left: 15%;
    }

    .rodapePrincipal-contatoForm-legend {
        margin-left: 16%;
    }
    
}








